@import './base.css';

/* Fade Animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  font-family: sans-serif;
}

.main-container {
  width: min(90%, 1200px);
  margin: 0 auto;
}
